<div class="filters col-xs-12 col-md-10 col-offset-md-1">
  <button type="button" class="btn btn-info btn-sm">date</button>
  <button type="button" class="btn btn-info btn-sm">price</button>
  <button type="button" class="btn btn-info btn-sm">title</button>
  <----- TOGGLE BUTTONS WILL ALLOW RESULTS TO BE SORTED.
</div>
<br />
<br />
<br />
  <div class="index col-xs-12 col-md-10 col-offset-md-1">
    <p class="restitle">results:</p><br />
    <div class="results"></div>
  </div>

