<div class="filters col-xs-12 col-md-10 col-offset-md-1">TOGGLE FILTERS GO HERE --> date - price - title <-- BUTTONS WILL ALLOW RESULTS TO BE SORTED</div>
  <div class="index col-xs-12 col-md-10 col-offset-md-1">
    <p class="restitle">your results:</p><br />
    <div class="results"></div>
  </div>

