<!-- <div class="filters col-xs-12 col-md-10 col-offset-md-1">
  <button type="button" class="btn btn-info btn-sm date-btn" data-filter="date" data-value="false">date</button>
  <button type="button" class="btn btn-info btn-sm price" data-filter="price" data-value="false">price</button>
  <button type="button" class="btn btn-info btn-sm title">title</button>
  <----- TOGGLE BUTTONS WILL ALLOW RESULTS TO BE SORTED.
</div>
<br />
<br />
<br /> -->
<div class="results-container">
  <div class="index col-12">
    <p class="results-title">search results:</p><br />
    <div class="results"></div>
  </div>
</div>

