/* NAVBAR */

.navbar-default .navbar-brand {
    color: #4B5254;
}

.navbar-brand {
  font-size: 26px;
  font-family: 'Roboto Mono', monospace;
  padding-left: 40px;
}

.navbar {
  border-radius:0;
  height: 52px;
}