<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<%= render 'layouts/navbar' %>

  <div class="info-container">
    <div> -----> <b>i-dig-it.</b> is allows you to search for vinyl records that have recently sold on Ebay in order to determine their real world value.</div>
    <div>  -----> Enter an artist, album, genre, or any other keyword in the form above and press the button.</div>
  </div>

<%= yield %>

</body>
</html>
